{# Adaptado de footer.html do Ynex #}
<!-- Início do Rodapé -->
<footer class="footer mt-auto py-3 bg-white text-center">
    <div class="container">
        <span class="text-muted"> Copyright © <span id="year"></span> <a
                href="javascript:void(0);" class="text-dark fw-semibold">Embala Bag </a>.
            Desenvolvido com <span class="bi bi-heart-fill text-danger"></span> por <a href="javascript:void(0);">
                <span class="fw-semibold text-primary text-decoration-underline">Tronic Sites</span>
            </a> Todos os direitos reservados
        </span>
    </div>
</footer>
<!-- Fim do Rodapé --> 